<!DOCTYPE html>
<html ng-app="myApp" lang="en">
<head>
        <script src="/bower_components/angular/angular.js"></script>
        <script src="homepage.js"></script>
        <meta charset="utf-8">
        <link rel="stylesheet" href="/css/bootstrap.min.css">
        <script src="/jquery-3.2.1.min.js"></script>
        <script src="/popper.js-1.12.3/dist/umd/popper.min.js"></script>
        <script src="/js/bootstrap.min.js"></script>
</head>
<body ng-controller="homepageController" ng-csp style="width:357px; height:200px; background-color:floralwhite">
    <div class="container">
        <h3 align="center">Cryptocurrency Price Tracker</h3>
        <p></p> 
        <div class="row">
            <div class="col-md-8">
                <div>{{currentCurrency}} Price: ${{price}}</div>
            </div>
        </div>
        <p></p>
        <div class="row">
            <div class="col-md-8">
                <div class="input-group">
                    <input type="text" class="form-control input-sm" ng-model="searchText" placeholder="What price would you like to know?" />
                    <div class="btn-group">
                        <button class="btn btn-info btn-sm" type="button" ng-click="changeCurrency()">
                            <i class="glyphicon glphyicon-search">Search</i>
                        </button>
                        <button ng-if="showRefresh" type="button" class="btn btn-info btn-sm" ng-click="getPriceInfo(currentCurrency, 'USD')">
                            <i class="glyphicon glphyicon-search">Refresh</i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>